{% extends "base.html" %} {% load static %}

<!-- SEO -->
{% block title %} ¡Just Sale! PROXIMAMENTE {% endblock title %} 
{%block description %} Muy pronto llegará a México la mejor solución para vender de forma segura, rápida y sin problemas tu casa. {% endblock description %}

<!-- Body -->
{% block content %} 

   <header>
    <div class="d-lg-none hero-mobile"></div>
    <div class="d-none d-lg-block hero-desktop"></div>
   </header>
<script src="{% static 'js/custom.js' %}"></script>

{% endblock content %}